{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block base_body %}

<div class="row page-topic">
    <div class="medium-12 columns">
	<h1>Uusi työaikamerkintä</h1>
    </div>
</div>
<div class="row index-wrapper">
    <div class="medium-12 columns">

	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<form action="{% url 'timetrack:new_entry' %}" method="post">
	    {% csrf_token %}
	    {{ form|crispy }}
	    <input type="submit" class="button" value="Tallenna" />
	</form>
    </div>
</div>
{% endblock base_body %}

